<div class="row">
    <div class="col">
        <div class="wrap-input100 validate-input m-b-18">
            <input class="input100" type="text" placeholder="Buscar" [(ngModel)]="filtering" />
            <span class="focus-input100"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4" *ngFor="let item of getData() | async">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.body}}</p>
                <a [routerLink]="['/detail', item.id]" class="btn btn-primary">Ver mas</a>
            </div>
        </div>
    </div>
</div>