<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
        <a routerLink="/posts" class="btn btn-primary">Regresar</a>
    </div>
</div>