<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(./assets/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Login
                </span>
            </div>

            <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Correo</span>
                    <input class="input100" type="text" placeholder="" formControlName="correo" autocomplete="username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18">
                    <span class="label-input100">Contraseña</span>
                    <input class="input100" type="password" placeholder="" formControlName="contrasenia" autocomplete="current-password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30" *ngIf="activarRegistro">
                    <div class="alert alert-info" role="alert">
                        El usuario no se existe, ¿Desea registrarse?
                        <div class="text-center">
                            <a routerLink="/signup" class="txt1">
                            Si
                        </a>&nbsp;
                            <button class="txt1" (click)="activarRegistro = !activarRegistro">
                            No
                        </button>
                        </div>
                    </div>
                </div>

                <div class="container-login100-form-btn" *ngIf="!activarRegistro">
                    <i class="fas fa-spinner"></i>
                    <button class="login100-form-btn" type="submit" [disabled]="loginForm.invalid">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>