<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(./assets/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Sign Up
                </span>
            </div>

            <form class="login100-form validate-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Correo</span>
                    <input class="input100" type="text" placeholder="" formControlName="correo" autocomplete="username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Telefono</span>
                    <input class="input100" type="text" placeholder="" formControlName="telefono">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Nombre</span>
                    <input class="input100" type="text" placeholder="" formControlName="nombre">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Apellido</span>
                    <input class="input100" type="text" placeholder="" formControlName="apellido">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">No. de identificacion</span>
                    <input class="input100" type="text" placeholder="" formControlName="identificacion">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18">
                    <span class="label-input100">Contraseña</span>
                    <input class="input100" type="password" placeholder="" formControlName="contrasenia" autocomplete="current-password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="alert alert-info" role="alert" *ngIf="success">
                        Se actualizaron los datos
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="error">
                        Ocurrio un error al actualizar los datos
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <a routerLink="/" class="login100-form-btn">
                        Cancel
                    </a>&nbsp;
                    <button type="submit" class="login100-form-btn" [disabled]="profileForm.invalid">
                        
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>